#container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    height:100px;
    padding-left:2rem;
    padding-right:2rem;
    position:relative;
}
.titles{
    text-align:center;
}
.IntroText{
    margin:auto;
    background-color:#86ae4a;
    width:50%;
    position:relative;
    padding:3rem;
    text-align:center;
}